html {
    overflow-x: initial !important;
}

body {
    display: flex;
    position: relative;
    background-color: #dddddd;
    padding:  0 10%;
}

.c-a {
    width: 200px;
    min-width: 200px;
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
    max-height: 400px;
    overflow: auto;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #e7e7e7;
}

.c-b{
    overflow: auto;
    padding: 20px 20px 20px 20px;
    flex: 1;
}
.article-wrap{
    max-width: 990px;
    margin: 0 auto;
    overflow-y: auto;
}